<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
             PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-config.dtd">
         <configuration>

     <settings>
      <!--<setting name="useGeneratedKeys" value="false"/>-->
       <!--<setting name="useColumnLabel" value="true"/>-->
         <!--启动打印sql语句-->
         <setting name="logImpl" value="STDOUT_LOGGING" />
     </settings>

     	<!--
   		<typeAliases>
       		<typeAlias alias="User" type="com.newtouch.model.User"/>
   		</typeAliases>
    	 -->
       	<!--<mappers>-->
         	<!--<mapper resource="model/userDao.xml"/>-->
       	<!--</mappers>-->

     </configuration>